{{extend 'layout.html'}}
<html>
<style>
    body
    {
        background-image: url("https://jajooyash.pythonanywhere.com/Course_Registeration/static/_2.12.3/Light-Texture-Blue-Background-HD-Wallpaper.jpg");
    }
    
    
</style>
    
<body>
    
     

<div class="container">
  <h2 align="center">Course Description</h2>
  <br/>
  <form action="{{=URL('Check')}}" method="post">
    {{for i in form:}}
        <div class="form-group">
          <label for="email">{{=i.Course_Name.upper()}} ({{=i.Course_id.upper()}})</label><br/><br/>
          <input type="text" class="form-control" id="email" value="{{=i.Course_Description}}" name="gets">
        </div>
        <br/>
     {{pass}}
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
     </body> 
</html>
